body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
section {
	position: relative;
	width: 100%;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
section:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg,#E3E2A9,#E4E10D);
	border-radius: 0 0 50% 50%/0 0 100% 100%;
	transform: scaleX(1.5);

}
section .content {
	position: relative;
	z-index: 1;
	margin: 0 auto;
	max-width: 900px;
	text-align: center;
}
section .content h2 {
	font-weight: bold;
	margin: 0;
	padding: 0;
	color: #5CAB48;
	font-size: 3em;
}
section .content a {
	margin-top: 20px;
	font-size: 1.2em;
}
.background {
	height: 100vh;
  	width: 100%;
  	background-image: url(Images/background.jpg);
  	background-size: cover;
  	background-position: center;
  	position: relative;
  	overflow-x: hidden;
}
.starttest p{
	font-family: "Times New Roman", Georgia, Serif;
		font-size: 23px;
		color:#030709;
}
.starttest ul{
	font-family: "Times New Roman", Georgia, Serif;
		font-size: 23px;
		color:#2d4756;
}
.starttest h2{
	font-family: "Times New Roman", Georgia, Serif;
		font-size: 25px;
		color:#121069;
}
.starttest h3{
	font-family: "Times New Roman", Georgia, Serif;
		font-size: 23px;
		color:#2d4756;
}