.container {
  height: 100vh;
  width: 100%;
  background-image: url(../Images/sub.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-x: hidden;

}

.buttons {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
}

.btn-admin {
  width: 70px;
  height: 10px;
  padding: 15px 35px;
  background: rgb(255,252,0);
  font-size: 15px;
  font-weight: bold;
  border-radius: 15px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.btn-applicant {
  width: 70px;
  height: 10px;
  padding: 15px 35px;
  margin-top: 10px;
  background: rgb(255,30,50);
  font-size: 15px;
  font-weight: bold;
  border-radius: 15px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.btn-text-admin {
  text-align: center;
  font-family: arial;
  color: #000;
}

.btn-text-applicant {
  text-align: center;
  font-family: arial;
  color: #fff;
}